<div class="container">
  <div class="grid-container">

    <div
      class="grid-item"
      *ngFor="let char of hiraganaCharacters"
      (click)="showCharacterDetails(char)"
    >
      <span class="romaji">{{ char.romaji }}</span>
      <span class="hiragana">{{ char.character }}</span>
    </div>

    <div *ngIf="selectedCharacter" class="details-container">
      <button (click)="closeDetails()">X</button>
      <h1 class="popup-title">
        {{ selectedCharacter.romaji }} ({{ selectedCharacter.character }})
      </h1>
      <img
        *ngIf="selectedGifUrl"
        [src]="selectedGifUrl"
        alt="Hiragana GIF for {{ selectedCharacter.character }}"
      />
      <p *ngIf="!selectedGifUrl">No GIF available for this character.</p>
      <p>Pronunciation: {{ selectedCharacter.pronunciation }}</p>
      <ul>
        <li
          *ngFor="let example of selectedCharacter.examples"
          [innerHTML]="formatExample(example)"
        ></li>
      </ul>
      <button class="close-button" (click)="closeDetails()">Close</button>
  </div>
</div>